<!-- Slide Menu-->
<aside class="side-menu__container" [ngClass]="{'side-menu__container-active': showMenu}" (click)="toggleMenu()">
  <nav class="slide-menu" [ngClass]="{'slide-menu-active': showMenu}" (click)="$event.stopImmediatePropagation();">
    <section class="menu-header">
      <span class="greeting__text">Welcome Back</span>
      <div class="profile-image__container">
        
      </div>
      <div class="account-details">
        <span class="name__text">Shashank</span>

      </div>
    </section>
    <section class="menu-body">

    </section>
    <section class="menu-footer">

    </section>
  </nav>
</aside>

<div class="root__container">
  <header class="main__header">

    <div class="left__section">
      <button class="hamburger-btn"> <i (click)="toggleMenu()" class="fas fa-2x fa-bars"></i>   </button>
      
    </div>

    <h3 class="date__text">Weather</h3>


  </header>

  <!-- Main Content -->

  <main class="main__container">

    <router-outlet></router-outlet>

  </main>

</div>
