/*Home Layout*/
.main__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    min-height: 90vh;
    position: relative;
    
    background: linear-gradient(to top, #86DBFF 0%, #e0c3fc 100%);
  }

